.cell {
	width: 30px;
	height: 30px;
	border-color: #f2f2f2;
	border-width: 1px;
	border-style: solid;
	position: relative;
	float: left;
}

#board {
	width: 670px;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 5%;
}

div .alive {
	background-color: #B4B8C5;
}

div .dead {
	background-color: #FEFFFE;
}

button {
	margin: 20px;
	background-color: #BBC7CE;
}

div .alive {
	-webkit-animation: color_change 1s infinite alternate;
    -moz-animation: color_change 1s infinite alternate;
    -o-animation: color_change 1s infinite alternate;
    animation: color_change 1s infinite alternate;
}

	@-webkit-keyframes color_change {
	  from { background-color: #94B0DA; }
	  to { background-color: #AE76A6; }
	}
	@-moz-keyframes color_change {
	  from { background-color: #94B0DA; }
	  to { background-color: #AE76A6; }
	}
	@-ms-keyframes color_change {
	  from { background-color: #94B0DA; }
	  to { background-color: #AE76A6; }
	}
	@-o-keyframes color_change {
	  from { background-color: #94B0DA; }
	  to { background-color: #AE76A6; }
	}
	@keyframes color_change {
	  from { background-color: #94B0DA; }
	  to { background-color: #AE76A6; }
	}

#colourselector {
	border-width: 2px;
	border-color: gray;
	border-style: dashed;
	margin: 2% 40%;
}



