.cell {
	width: 25px;
	height: 25px;
	border-color: #f2f2f2;
	border-width: 1px;
	border-style: solid;
	position: relative;
	float: left;
}

#board {
	width: 820px;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 1%;
}

div .alive {
	background-color: #B4B8C5;
}

div .dead {
	background-color: #FEFFFE;
}


body {
	background-color: #122932;
}

button {
	margin: 5px;
	margin-left: 45%;
	margin-top: 1%;
	height: 50px;
	background-color: #E2E2E2;
	font-size: 14pt;
}

div .alive {
	-webkit-animation: color_change 1s infinite alternate;
    -moz-animation: color_change 1s infinite alternate;
    -o-animation: color_change 1s infinite alternate;
    animation: color_change 1s infinite alternate;
}

	@-webkit-keyframes color_change {
	  from { background-color: #DA8A73; }
	  to { background-color: #E0D68A; }
	}
	@-moz-keyframes color_change {
	  from { background-color: #DA8A73; }
	  to { background-color: #E0D68A; }
	}
	@-ms-keyframes color_change {
	  from { background-color: #DA8A73; }
	  to { background-color: #E0D68A; }
	}
	@-o-keyframes color_change {
	  from { background-color: #DA8A73; }
	  to { background-color: #E0D68A; }
	}
	@keyframes color_change {
	  from { background-color: #DA8A73; }
	  to { background-color: #E0D68A; }
	}
/*
#colourselector {
	border-width: 2px;
	border-color: gray;
	border-style: dashed;
	margin: 2% 40%;
}

*/

